*node_modules/
*build/
*.lock
*.swo
*.swp
*.swn
*__pycache__*

Gsoc2-*.json
backend/go-app/generated*

functions/generated_apps
*.zip

*openapi-parsers/generated/*
*openapi-parsers/other/*


backend/onprem/app_sdk/apps
*test.py

*.exe
*debug*
!**/RuntimeDebugger.jsx

gsoc2-database/batch_metrics_enabled.conf
gsoc2-database/logging_enabled.conf
gsoc2-database/nodes
gsoc2-database/performance_analyzer_enabled.conf
gsoc2-database/rca_enabled.conf

*/package-lock.json
